/* Navbar.css */



.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 14px;
  border-radius: 6px;
  transition: 0.2s ease, color 0.2s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.458);
  backdrop-filter: blur(12px);
  border-radius: 32px;
  border-bottom: 1px solid rgba(9, 7, 7, 0.203);
  height: 50px;
  overflow: hidden;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* align items to the left */
  height: 100%;
  position: relative;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%) scale(2); /* Center + Scale */
  transform-origin: center;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  height: 100%;
}

.mode-toggle {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  overflow: hidden;
  margin-right: 16vh;
  margin-left: auto;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 220px; /* fixed width to distribute equally */
}

.mode-option {
  flex: 1; /* force equal width */
  padding: 10px 0;
  font-size: 0.875rem;
  font-weight: 500;
  background: transparent;
  border: none;
  color: #ffffffd0;
  cursor: pointer;
  transition: 0.25s ease, color 0.25s ease;
  text-align: center;
}

.mode-option.active {
  background: #007bff;
  color: #fff;
}

.mode-option:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}
